In [36]:
import pandas as pd # type: ignore
import numpy as np # type: ignore
import seaborn as sns # type: ignore
import matplotlib.pyplot as plt # type: ignore
from sklearn.preprocessing import LabelEncoder , MinMaxScaler # type: ignore
from sklearn.linear_model import LogisticRegression # type: ignore
from sklearn.metrics import accuracy_score , precision_score,recall_score # type: ignore
from sklearn.ensemble import RandomForestClassifier # type: ignore
from sklearn import svm # type: ignore
from xgboost import XGBClassifier # type: ignore
%matplotlib inline

In [37]:
data = pd.read_csv("C:/Users/dell/Desktop/fraudTrain.csv")
data.head()

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
0,0,1/1/2019 0:00,2.700000e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,0b242abb623afc578575680df30655b9,0.0
1,1,1/1/2019 0:00,6.300000e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,1f76529f8574734946361c461b024d99,0.0
2,2,1/1/2019 0:00,3.890000e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,a1a22d70485983eac12b5b88dad1cf95,0.0
3,3,1/1/2019 0:01,3.530000e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,6b849c168bdad6f867558c3793159a81,0.0
4,4,1/1/2019 0:03,3.760000e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,a41d7549acf90789359a9aa5346dcb46,0.0

In [38]:
df = pd.read_excel("C:/Users/dell/Desktop/fraudTest.xlsx")
df.head()

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
0,0,2020-06-21 12:14:25,2291163933867240,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,2da90c7d74bd46a0caf3777415b3ebd3,0
1,1,2020-06-21 12:14:33,3573030041201290,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,324cc204407e99f51b0d6ca0055005e7,0
2,2,2020-06-21 12:14:53,3598215285024750,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,c81755dbbbea9d5c77f094348a7579be,0
3,3,2020-06-21 12:15:15,3591919803438420,fraud_Haley Group,misc_pos,60.05,Brian,Williams,2159175b9efe66dc301f149d3d5abf8c,0
4,4,2020-06-21 12:15:17,3526826139003040,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,57ff021bd3f328f8738bb535c302a31b,0

In [39]:
len(data)

1002104

In [40]:
len(df)

555719

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002104 entries, 0 to 1002103
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ID           1002104 non-null  int64
 1   Time         1002104 non-null  object
 2   Card Number  1002104 non-null  float64
 3   merchant     1002104 non-null  object
 4   category     1002104 non-null  object
 5   Amount       1002103 non-null  float64
 6   firstName    1002103 non-null  object
 7   lastName     1002103 non-null  object
 8   trans_num    1002103 non-null  object
 9   is_fraud     1002103 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 76.5+ MB

In [42]:
df.isnull().sum()

ID             0
Time           0
Card Number    0
merchant       0
category       0
Amount         0
firstName      0
lastName       0
trans_num      0
is_fraud       0
dtype: int64

In [43]:
data.isnull().sum()

ID             0
Time           0
Card Number    0
merchant       0
category       0
Amount         1
firstName      1
lastName       1
trans_num      1
is_fraud       1
dtype: int64

In [44]:
data=data.dropna()
data.isnull().sum()

ID             0
Time           0
Card Number    0
merchant       0
category       0
Amount         0
firstName      0
lastName       0
trans_num      0
is_fraud       0
dtype: int64

In [45]:
q1_Amount=data['is_fraud'].quantile(0.25)
q3_Amount=data['is_fraud'].quantile(0.75)
iqr_Amount=q3_Amount-q1_Amount
upper1 = q3_Amount+(1.5*iqr_Amount)
lower1 = q1_Amount-(1.5*iqr_Amount)
outliers1 = data.loc[((data['is_fraud']>upper1) | (data['is_fraud']<lower1))]
len(outliers1)

5713

In [46]:
q1_Amount_df=df['is_fraud'].quantile(0.25)
q3_Amount_df=df['is_fraud'].quantile(0.75)
iqr_Amount_df=q3_Amount_df-q1_Amount_df
upper1_df = q3_Amount_df+(1.5*iqr_Amount_df)
lower1_df = q1_Amount_df-(1.5*iqr_Amount_df)
outliers1_df = df.loc[((df['is_fraud']>upper1_df) | (df['is_fraud']<lower1_df))]
len(outliers1_df)

2145

In [47]:
label_encoder = LabelEncoder()
data['category'] = label_encoder.fit_transform(data['category'])
data['firstName'] = label_encoder.fit_transform(data['firstName'])
data['lastName']= label_encoder.fit_transform(data['lastName'])
data['merchant']= label_encoder.fit_transform(data['merchant'])
data['trans_num']= label_encoder.fit_transform(data['trans_num'])
data['Time']= label_encoder.fit_transform(data['Time'])
data.head()

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
0,0,0,2.700000e+15,514,8,4.97,160,18,43723,0.0
1,1,0,6.300000e+11,241,4,107.23,305,156,123180,0.0
2,2,0,3.890000e+13,390,0,220.11,113,379,632681,0.0
3,3,1,3.530000e+15,360,2,45.00,161,460,420764,0.0
4,4,2,3.760000e+14,297,9,41.96,331,148,642198,0.0

In [48]:
# data['hour_of_day'] = pd.to_datetime(data['Time']).dt.hour
# data['day_of_week'] = pd.to_datetime(data['Time']).dt.dayofweek
# data['day_of_month'] = pd.to_datetime(data['Time']).dt.day
# user_transactions = data.groupby('Card Number')['Amount']
# data['total_transaction_amount'] = user_transactions.transform('sum')
# data['avg_transaction_amount'] = user_transactions.transform('mean')
# data['amount_time_interaction'] = data['Amount'] * data['Time']
# data['amount_zscore'] = (data['Amount'] - data['Amount'].mean()) / data['Amount'].std()

# user_transactions = data.groupby('Card Number')['Amount']
# data['total_transaction_amount'] = user_transactions.transform('sum')

# # Frequency of transactions per time period
# user_transactions = data.groupby('Card Number')['Time'].transform('count')
# data['transactions_per_card'] = user_transactions

# # Transaction velocity
# data['transaction_velocity'] = data['total_transaction_amount'] / (data['Time'] + 1)

# # Aggregated statistics
# data['transaction_amount_std'] = data.groupby('Card Number')['Amount'].transform('std')
# data['transaction_amount_min'] = data.groupby('Card Number')['Amount'].transform('min')
# data['transaction_amount_max'] = data.groupby('Card Number')['Amount'].transform('max')

# # Interaction features
# data['transaction_amount_times_velocity'] = data['Amount'] * data['transaction_velocity']

# data['transactions_per_merchant'] = data.groupby(['is_fraud', 'merchant'])['trans_num'].transform('count')


data['avg_transaction_amount'] = data.groupby('Amount')['is_fraud'].transform('mean')
data['amount_diff'] = data['Amount'] - data['avg_transaction_amount']
data['transaction_count'] = data.groupby('Amount')['is_fraud'].transform('count')
data['is_suspicious_amount'] = (data['Amount'] > data['avg_transaction_amount'] * 2) | (data['Amount'] < data['avg_transaction_amount'] * 0.5)

In [49]:
label_encoder1 = LabelEncoder()
df['category'] = label_encoder1.fit_transform(df['category'])
df['firstName'] = label_encoder1.fit_transform(df['firstName'])
df['lastName']= label_encoder1.fit_transform(df['lastName'])
df['merchant']= label_encoder1.fit_transform(df['merchant'])
df['trans_num']= label_encoder1.fit_transform(df['trans_num'])
df['Time']= label_encoder1.fit_transform(df['Time'])
df.head()

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud
0,0,0,2291163933867240,319,10,2.86,151,115,98699,0
1,1,1,3573030041201290,591,10,29.84,163,457,108785,0
2,2,2,3598215285024750,611,5,41.28,24,249,433979,0
3,3,3,3591919803438420,222,9,60.05,42,457,71993,0
4,4,4,3526826139003040,292,13,3.19,247,261,190585,0

In [50]:
# df['hour_of_day'] = pd.to_datetime(df['Time']).dt.hour
# df['day_of_week'] = pd.to_datetime(df['Time']).dt.dayofweek
# df['day_of_month'] = pd.to_datetime(df['Time']).dt.day
# user_transactions = df.groupby('Card Number')['Amount']
# df['total_transaction_amount'] = user_transactions.transform('sum')
# df['avg_transaction_amount'] = user_transactions.transform('mean')
# df['amount_time_interaction'] = df['Amount'] * df['Time']
# df['amount_zscore'] = (df['Amount'] - df['Amount'].mean()) / df['Amount'].std()


# user_transactions = df.groupby('Card Number')['Amount']
# df['total_transaction_amount'] = user_transactions.transform('sum')


# user_transactions = df.groupby('Card Number')['Amount']
# df['total_transaction_amount'] = user_transactions.transform('sum')

# # Frequency of transactions per time period
# user_transactions = data.groupby('Card Number')['Time'].transform('count')
# df['transactions_per_card'] = user_transactions

# # Transaction velocity
# df['transaction_velocity'] = df['total_transaction_amount'] / (df['Time'] + 1)

# # Aggregated statistics
# df['transaction_amount_std'] = df.groupby('Card Number')['Amount'].transform('std')
# df['transaction_amount_min'] = df.groupby('Card Number')['Amount'].transform('min')
# df['transaction_amount_max'] = df.groupby('Card Number')['Amount'].transform('max')

# # Interaction features
# df['transaction_amount_times_velocity'] = df['Amount'] * df['transaction_velocity']





df['avg_transaction_amount'] = df.groupby('Amount')['is_fraud'].transform('mean')
df['amount_diff'] = df['Amount'] - df['avg_transaction_amount']
df['transaction_count'] = df.groupby('Amount')['is_fraud'].transform('count')
# df['transactions_per_merchant'] = df.groupby(['is_fraud', 'merchant'])['trans_num'].transform('count')
df['is_suspicious_amount'] = (df['Amount'] > df['avg_transaction_amount'] * 2) | (df['Amount'] < df['avg_transaction_amount'] * 0.5)

In [51]:
Scaler = MinMaxScaler()
x_scaler= Scaler.fit_transform(data)
data=pd.DataFrame(x_scaler, columns=data.columns)
data

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
0,0.000000e+00,0.000000,5.410701e-04,0.742775,0.615385,0.000137,0.462428,0.037736,0.043631,0.0,0.0,0.000137,0.600000,0.0
1,9.979024e-07,0.000000,1.141451e-07,0.348266,0.307692,0.003670,0.881503,0.327044,0.122922,0.0,0.0,0.003670,0.055814,0.0
2,1.995805e-06,0.000000,7.783484e-06,0.563584,0.000000,0.007569,0.326590,0.794549,0.631354,0.0,0.0,0.007569,0.004651,0.0
3,2.993707e-06,0.000002,7.074027e-04,0.520231,0.153846,0.001520,0.465318,0.964361,0.419881,0.0,0.0,0.001520,0.151163,0.0
4,3.991610e-06,0.000004,7.533859e-05,0.429191,0.692308,0.001415,0.956647,0.310273,0.640851,0.0,0.0,0.001415,0.125581,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002098,9.999960e-01,0.397424,6.120157e-06,0.078035,0.769231,0.003336,0.719653,0.842767,0.462671,0.0,0.0,0.003336,0.100000,0.0
1002099,9.999970e-01,0.397424,6.039997e-06,0.891618,1.000000,0.000065,0.575145,0.226415,0.863003,0.0,0.0,0.000065,0.634884,0.0
1002100,9.999980e-01,0.397424,6.932657e-05,0.096821,0.923077,0.000279,0.303468,0.618449,0.977896,0.0,0.0,0.000279,0.634884,0.0
1002101,9.999990e-01,0.397426,7.623163e-06,0.591040,0.923077,0.000311,0.653179,0.153040,0.810390,0.0,0.0,0.000311,0.393023,0.0
1002102,1.000000e+00,0.397426,6.912617e-05,0.982659,0.461538,0.000196,0.132948,0.704403,0.732370,0.0,0.0,0.000196,0.567442,0.0

In [52]:
Scaler_df = MinMaxScaler()
x_scaler_df= Scaler_df.fit_transform(df)
df=pd.DataFrame(x_scaler_df, columns=df.columns)
df

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
0,0.000000,0.000000,4.589232e-04,0.460983,0.769231,0.000082,0.444118,0.244681,0.177606,0.0,0.000000,0.000082,0.663866,0.0
1,0.000002,0.000002,7.156895e-04,0.854046,0.769231,0.001267,0.479412,0.972340,0.195756,0.0,0.000000,0.001267,0.151261,0.0
2,0.000004,0.000004,7.207342e-04,0.882948,0.384615,0.001769,0.070588,0.529787,0.780934,0.0,0.000000,0.001769,0.138655,0.0
3,0.000005,0.000006,7.194732e-04,0.320809,0.692308,0.002594,0.123529,0.972340,0.129550,0.0,0.000000,0.002594,0.172269,0.0
4,0.000007,0.000007,7.064345e-04,0.421965,1.000000,0.000096,0.726471,0.555319,0.342953,0.0,0.000000,0.000096,0.722689,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,0.999993,0.999993,6.109391e-06,0.732659,0.384615,0.001879,0.691176,0.670213,0.605327,0.0,0.000000,0.001879,0.155462,0.0
555715,0.999995,0.999994,7.124010e-04,0.381503,0.538462,0.004868,0.502941,0.902128,0.126633,0.0,0.000000,0.004868,0.096639,0.0
555716,0.999996,0.999996,1.204176e-03,0.716763,0.538462,0.003772,0.052941,0.508511,0.423035,0.0,0.000000,0.003772,0.100840,0.0
555717,0.999998,0.999998,8.051039e-07,0.108382,1.000000,0.000307,0.326471,0.727660,0.078360,0.0,0.022059,0.000306,0.567227,0.0
555718,1.000000,1.000000,8.354046e-04,0.180636,0.000000,0.001631,0.823529,0.308511,0.091044,0.0,0.000000,0.001631,0.121849,0.0

In [53]:
corr=data.corr()
corr

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
ID,1.000000,-0.237387,0.000582,0.000572,0.000707,-0.001782,0.001215,0.001662,-0.000372,-0.010520,-0.007213,-0.001779,0.001423,NaN
Time,-0.237387,1.000000,0.000058,0.000237,-0.000815,-0.002387,-0.001828,-0.001159,-0.000453,-0.010996,-0.008951,-0.002384,0.002162,NaN
Card Number,0.000582,0.000058,1.000000,-0.000482,0.001692,0.000386,-0.026224,0.007646,0.000991,-0.003599,-0.001632,0.000387,-0.004324,NaN
merchant,0.000572,0.000237,-0.000482,1.000000,0.032146,-0.003202,-0.001336,-0.000092,-0.000775,-0.000502,-0.000237,-0.003202,0.007313,NaN
category,0.000707,-0.000815,0.001692,0.032146,1.000000,0.030492,-0.001569,-0.004153,-0.000529,0.019908,0.042266,0.030479,0.384403,NaN
Amount,-0.001782,-0.002387,0.000386,-0.003202,0.030492,1.000000,-0.004590,-0.004697,-0.000821,0.217171,0.267948,1.000000,-0.315337,NaN
firstName,0.001215,-0.001828,-0.026224,-0.001336,-0.001569,-0.004590,1.000000,-0.056099,0.000493,-0.004137,-0.003384,-0.004589,0.003555,NaN
lastName,0.001662,-0.001159,0.007646,-0.000092,-0.004153,-0.004697,-0.056099,1.000000,-0.000339,0.000358,0.000077,-0.004698,0.007025,NaN
trans_num,-0.000372,-0.000453,0.000991,-0.000775,-0.000529,-0.000821,0.000493,-0.000339,1.000000,0.001187,0.001219,-0.000821,-0.001079,NaN
is_fraud,-0.010520,-0.010996,-0.003599,-0.000502,0.019908,0.217171,-0.004137,0.000358,0.001187,1.000000,0.810497,0.216884,-0.058806,NaN
avg_transaction_amount,-0.007213,-0.008951,-0.001632,-0.000237,0.042266,0.267948,-0.003384,0.000077,0.001219,0.810497,1.000000,0.267594,-0.072555,NaN
amount_diff,-0.001779,-0.002384,0.000387,-0.003202,0.030479,1.000000,-0.004589,-0.004698,-0.000821,0.216884,0.267594,1.000000,-0.315342,NaN
transaction_count,0.001423,0.002162,-0.004324,0.007313,0.384403,-0.315337,0.003555,0.007025,-0.001079,-0.058806,-0.072555,-0.315342,1.000000,NaN
is_suspicious_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
data.drop(['ID', 'Time', 'firstName', 'lastName', 'trans_num','category','merchant','Card Number'], axis=1,inplace=True)
data

,Amount,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
0,0.000137,0.0,0.0,0.000137,0.600000,0.0
1,0.003670,0.0,0.0,0.003670,0.055814,0.0
2,0.007569,0.0,0.0,0.007569,0.004651,0.0
3,0.001520,0.0,0.0,0.001520,0.151163,0.0
4,0.001415,0.0,0.0,0.001415,0.125581,0.0
...,...,...,...,...,...,...
1002098,0.003336,0.0,0.0,0.003336,0.100000,0.0
1002099,0.000065,0.0,0.0,0.000065,0.634884,0.0
1002100,0.000279,0.0,0.0,0.000279,0.634884,0.0
1002101,0.000311,0.0,0.0,0.000311,0.393023,0.0
1002102,0.000196,0.0,0.0,0.000196,0.567442,0.0

In [55]:
corr_df=df.corr()
corr_df

,ID,Time,Card Number,merchant,category,Amount,firstName,lastName,trans_num,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
ID,1.000000,0.999998,-0.000823,-0.000832,0.001480,-0.001137,0.000940,0.001603,0.001368,-0.013892,-0.011006,-0.001133,0.000929,NaN
Time,0.999998,1.000000,-0.000822,-0.000839,0.001470,-0.001132,0.000937,0.001605,0.001367,-0.013864,-0.010983,-0.001128,0.000926,NaN
Card Number,-0.000823,-0.000822,1.000000,0.001326,-0.001779,0.001963,-0.030216,0.007260,-0.000125,-0.001540,-0.003213,0.001964,-0.007360,NaN
merchant,-0.000832,-0.000839,0.001326,1.000000,0.028033,-0.003780,-0.001027,-0.000512,-0.000028,-0.000086,0.000431,-0.003780,0.005602,NaN
category,0.001480,0.001470,-0.001779,0.028033,1.000000,0.026811,-0.002089,-0.002702,-0.001348,0.016980,0.029765,0.026803,0.382580,NaN
Amount,-0.001137,-0.001132,0.001963,-0.003780,0.026811,1.000000,0.000584,-0.006236,-0.002609,0.182267,0.217707,1.000000,-0.315566,NaN
firstName,0.000940,0.000937,-0.030216,-0.001027,-0.002089,0.000584,1.000000,-0.058780,-0.002572,-0.001725,-0.003051,0.000585,0.001264,NaN
lastName,0.001603,0.001605,0.007260,-0.000512,-0.002702,-0.006236,-0.058780,1.000000,-0.002153,-0.001203,0.000238,-0.006236,0.007854,NaN
trans_num,0.001368,0.001367,-0.000125,-0.000028,-0.001348,-0.002609,-0.002572,-0.002153,1.000000,-0.002816,-0.002540,-0.002608,-0.000805,NaN
is_fraud,-0.013892,-0.013864,-0.001540,-0.000086,0.016980,0.182267,-0.001725,-0.001203,-0.002816,1.000000,0.837215,0.182003,-0.048514,NaN
avg_transaction_amount,-0.011006,-0.010983,-0.003213,0.000431,0.029765,0.217707,-0.003051,0.000238,-0.002540,0.837215,1.000000,0.217391,-0.057946,NaN
amount_diff,-0.001133,-0.001128,0.001964,-0.003780,0.026803,1.000000,0.000585,-0.006236,-0.002608,0.182003,0.217391,1.000000,-0.315569,NaN
transaction_count,0.000929,0.000926,-0.007360,0.005602,0.382580,-0.315566,0.001264,0.007854,-0.000805,-0.048514,-0.057946,-0.315569,1.000000,NaN
is_suspicious_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.drop(['ID', 'Time', 'firstName', 'lastName', 'trans_num','category','merchant','Card Number'], axis=1,inplace=True)
df

,Amount,is_fraud,avg_transaction_amount,amount_diff,transaction_count,is_suspicious_amount
0,0.000082,0.0,0.000000,0.000082,0.663866,0.0
1,0.001267,0.0,0.000000,0.001267,0.151261,0.0
2,0.001769,0.0,0.000000,0.001769,0.138655,0.0
3,0.002594,0.0,0.000000,0.002594,0.172269,0.0
4,0.000096,0.0,0.000000,0.000096,0.722689,0.0
...,...,...,...,...,...,...
555714,0.001879,0.0,0.000000,0.001879,0.155462,0.0
555715,0.004868,0.0,0.000000,0.004868,0.096639,0.0
555716,0.003772,0.0,0.000000,0.003772,0.100840,0.0
555717,0.000307,0.0,0.022059,0.000306,0.567227,0.0
555718,0.001631,0.0,0.000000,0.001631,0.121849,0.0

In [57]:
x_train = data.drop(columns=['is_fraud']) 
y_train = data['is_fraud']
x_test = df.drop(columns=['is_fraud']) 
y_test = df['is_fraud']
model = LogisticRegression()
# model  = RandomForestClassifier(n_estimators=100, random_state=42)
# model=svm.SVC(kernel='linear')
# model = XGBClassifier()
model.fit(x_train, y_train)
y_pred_train = model.predict(x_train)
count_train = np.sum(y_pred_train== 1)
accuracy_train = accuracy_score(y_train, y_pred_train)
recall_train = recall_score(y_train, y_pred_train,average='binary')
precision_train=precision_score(y_train, y_pred_train,zero_division=1)
F1_score_train =(2*recall_train*precision_train)/(recall_train+precision_train)
print("Accuracy:", accuracy_train)
print("Recall:", recall_train)
print("Precision:", precision_train)
print("F1-score:", F1_score_train)
print(count_train)

Accuracy: 0.9975780932698535
Recall: 0.6987572203745843
Precision: 0.8497232865048957
F1-score: 0.7668811833637499
4698

In [58]:
y_pred = model.predict(x_test)
count = np.sum(y_pred== 1)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred,average='binary')
precision=precision_score(y_test, y_pred,zero_division=1)
F1_score =(2*recall*precision)/(recall+precision)
print("Accuracy:", accuracy)
print("Recall:", recall)
print("Precision:", precision)
print("F1-score:", F1_score)
print(count)

Accuracy: 0.998628803406038
Recall: 0.7291375291375292
Precision: 0.8962750716332378
F1-score: 0.8041131105398458
1745